#new-task {
  position: relative;
  background-color: #ffffff;
  margin: 50px auto;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 1em;
  max-width: 80%;
}

#new-task input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
}

#new-task input:focus {
  outline: none;
  border-color: #0b87ff;
}

#new-task button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #0b87ff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin: 1em auto; /* Memusatkan elemen secara horizontal */
  width: 100%; /* Lebar penuh di dalam grid */
  max-width: 80%; /* Mengatur lebar maksimum agar sama dengan #new-task */
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
  display: grid; /* Menggunakan tata letak grid */
  grid-template-columns: 7fr 3fr; /* Sama dengan grid #new-task */
  gap: 1em; /* Jarak antar elemen di dalam grid */
}

.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  width: 100%; /* Lebar penuh di dalam #tasks */
  display: flex; /* Menggunakan flex untuk elemen internal */
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
  box-sizing: border-box; /* Menjaga padding tidak menambah lebar elemen */
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

.task button {
  color: #ffffff;
  padding: 0.8em 0;
  width: 2.8em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  background-color: #fb3b3b;
}

.edit {
  background-color: #0b87ff;
  margin-left: auto;
  margin-right: 3em;
}

.completed {
  text-decoration: line-through;
}
